.login-card-action a.btn {
  color: white;
  width: 75%;
  margin: auto;
  margin-bottom: 5px;
}

.login-button {
  width: 75%;
}

.container-fluid {
  height: 100%;
}

.login-row {
  height: 80%;
  display: flex;
  align-items: center;
}

.login-row div.card {
  background-color: white;
}

.login-row div.card .card-content {
  padding-bottom: 0;
}

.login-input-group {
  width: 75%;
  margin: auto;
  margin-bottom: 5px;
}